<!-- Faq start -->

<section class="distance">

    <div class="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4>General Question</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="accordion">

                        <div class="accordion-section">
                            <button class="accordion-title">How can I contact the hospital's customer support?</button>
                            <ul class="accordion-content">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quibusdam consequatur voluptate quasi veniam autem vitae impedit recusandae consequuntur commodi</li>
                            </ul>
                        </div>

                        <div class="accordion-section">
                            <button class="accordion-title">What is the hospital's main contact number?</button>
                            <ul class="accordion-content">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quibusdam consequatur voluptate quasi veniam autem vitae impedit recusandae consequuntur commodi?</li>
                            </ul>
                        </div>

                        <div class="accordion-section">
                            <button class="accordion-title">Is there an email address for general inquiries?</button>
                            <ul class="accordion-content">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quibusdam consequatur voluptate quasi veniam autem vitae impedit recusandae consequuntur commodi?</li>
                            </ul>
                        </div>

                        <div class="accordion-section">
                            <button class="accordion-title">What services and medical specialties does the hospital provide?</button>
                            <ul class="accordion-content">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quibusdam consequatur voluptate quasi veniam autem vitae impedit recusandae consequuntur commodi?</li>
                            </ul>
                        </div>

                        <div class="accordion-section">
                            <button class="accordion-title">Can I schedule an appointment online?</button>
                            <ul class="accordion-content">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quibusdam consequatur voluptate quasi veniam autem vitae impedit recusandae consequuntur commodi?</li>
                            </ul>
                        </div>



                    </div>

                </div>

                <div class="col-md-6">
                    <div class="accordion">

                        <div class="accordion-section">
                            <button class="accordion-title">Are there any virtual consultation options available?</button>
                            <ul class="accordion-content">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quibusdam consequatur voluptate quasi veniam autem vitae impedit recusandae consequuntur commodi?</li>
                            </ul>
                        </div>

                        <div class="accordion-section">
                            <button class="accordion-title">How do I create an online account for hospital services?</button>
                            <ul class="accordion-content">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quibusdam consequatur voluptate quasi veniam autem vitae impedit recusandae consequuntur commodi?</li>
                            </ul>
                        </div>

                        <div class="accordion-section">
                            <button class="accordion-title"> What should I do in case of a medical emergency?</button>
                            <ul class="accordion-content">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quibusdam consequatur voluptate quasi veniam autem vitae impedit recusandae consequuntur commodi?</li>
                            </ul>
                        </div>

                        <div class="accordion-section">
                            <button class="accordion-title">How can I reschedule or cancel a medical appointment?</button>
                            <ul class="accordion-content">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quibusdam consequatur voluptate quasi veniam autem vitae impedit recusandae consequuntur commodi?</li>
                            </ul>
                        </div>

                        <div class="accordion-section">
                            <button class="accordion-title">Can I receive appointment reminders via email or SMS?</button>
                            <ul class="accordion-content">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quibusdam consequatur voluptate quasi veniam autem vitae impedit recusandae consequuntur commodi?</li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h4 class="mt-4">Payment & Delivery</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="accordion">

                        <div class="accordion-section">
                            <button class="accordion-title">How can I make a payment for medical services?</button>
                            <ul class="accordion-content">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quibusdam consequatur voluptate quasi veniam autem vitae impedit recusandae consequuntur commodi</li>
                            </ul>
                        </div>

                        <div class="accordion-section">
                            <button class="accordion-title">What payment methods are accepted at the hospital?</button>
                            <ul class="accordion-content">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quibusdam consequatur voluptate quasi veniam autem vitae impedit recusandae consequuntur commodi?</li>
                            </ul>
                        </div>

                        <div class="accordion-section">
                            <button class="accordion-title">Are there any payment plans or financial assistance options?</button>
                            <ul class="accordion-content">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quibusdam consequatur voluptate quasi veniam autem vitae impedit recusandae consequuntur commodi?</li>
                            </ul>
                        </div>


                    </div>

                </div>

                <div class="col-md-6">
                    <div class="accordion">

                        <div class="accordion-section">
                            <button class="accordion-title">How do I receive medical reports and test results?</button>
                            <ul class="accordion-content">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quibusdam consequatur voluptate quasi veniam autem vitae impedit recusandae consequuntur commodi?</li>
                            </ul>
                        </div>

                        <div class="accordion-section">
                            <button class="accordion-title">Is there an option for home delivery of prescribed medications?</button>
                            <ul class="accordion-content">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quibusdam consequatur voluptate quasi veniam autem vitae impedit recusandae consequuntur commodi?</li>
                            </ul>
                        </div>

                        <div class="accordion-section">
                            <button class="accordion-title">Can I request medical records to be delivered electronically?</button>
                            <ul class="accordion-content">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quibusdam consequatur voluptate quasi veniam autem vitae impedit recusandae consequuntur commodi?</li>
                            </ul>
                        </div>


                    </div>

                </div>
            </div>


        </div>

    </div>

</section>

<!-- Faq end -->