@model RoleEditVM
@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    @foreach (var role in Model.Roles)
    {
        <input @(Model.UserRoles.Any(ur => ur == role.Name) ? "checked" : "") type="checkbox" value="@role.Name" name="roles" /> @role.Name <br />
    }
    <button type="submit">Change role</button>
</form>