@model SettingCreateVM

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create setting </h4>

                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <label asp-for="Key" class="control-label"></label>
                            <input asp-for="Key" class="form-control" placeholder="Key">
                            <span class="text-danger" asp-validation-for="Key"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Value" class="control-label"></label>
                            <input asp-for="Value" class="form-control" placeholder="Value">
                            <span class="text-danger" asp-validation-for="Value"></span>

                        </div>

                        <div class="form-group">
                            <label asp-for="Photo" class="control-label"></label>
                            <input asp-for="Photo" class="form-control" placeholder="Name">
                            <span class="text-danger" asp-validation-for="Photo"></span>
                        </div>


                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a class="btn btn-light" asp-action="Index">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationPartial"></partial>
}


