@model HomeVM

<!--Start Donate -->

<section class="donate">
    <div class="container">
        <div class="pt-5 pb-5 row align-items-center">
            <div class="col-lg-6 col-md-12">
                <h1>@Model.DonateSection.Title</h1>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="md d-flex justify-content-between">
                    <p class="donate-desc">@Model.DonateSection.Description</p>
                    <a class="btn-cross" href="./donate.html">Donate</a>
                </div>
            </div>
        </div>
    </div>

</section>

<!--End Donate -->