<!-- Doctor appointment banner start -->

<section class="department-banner">
    <div class="container">
        <div class="department-banner-items">

            <h1 class="department-name">Make appointment</h1>

            <button class="department-request custom-btn-bg-white">
                <a href="">Contact us <i class="bi bi-arrow-right"></i></a>
            </button>

            <div class="d-flex column-gap-2">
                <button class="department-request custon-btn-bg-teal mt-2">
                    <a href="">Donate</a>
                </button>
                <button class="department-request custon-btn-bg-teal mt-2">
                    <a href="">Volunteer</a>
                </button>
            </div>

            <div class="">
            </div>

        </div>
    </div>

</section>

<!-- Doctor appointment banner end -->
<!-- Doctor Appointment start -->

<section class="doctor-appointment">
    <div class="wrapper">

        <div id="calendar">
            <div class="monthChange"></div>
        </div>

        <div class="inner-wrap">

            <!-- <div>
              <p>If you want to make an appointment please <a href="">Login</a> or <a href="">Register</a></p>
            </div> -->

            <form>
                <div class="form-name">
                    <!-- <label for="name">Your name</label> -->
                    <input type="text" name="name" id="name" placeholder="Your name" autocomplete="off">
                </div>
                <div class="form-name">
                    <!-- <label for="email">Your email</label> -->
                    <input type="email" name="email" id="email" placeholder="Your email" autocomplete="off">
                </div>
                <div class="form-name">
                    <!-- <label for="number">Your number</label> -->
                    <input type="text" name="number" id="number" placeholder="Your number" autocomplete="off">
                </div>
                <div class="form-name">
                    <!-- <label for="number">Birthday</label> -->
                    <input type="date" name="date" id="date" placeholder="Your Birthday" autocomplete="off">
                </div>
                <div class="form-name">
                    <select name="gender" id="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>

                <button type="submit" class="request">
                    Request appointment <br class="break">
                    <span>on</span>
                    <span class="day"></span>
                    <span>at</span>
                    <span class="time"></span>
                    <div class="sendRequest"></div>
                </button>
            </form>

        </div>

        <div class='timepicker'>
            <div class="owl">
                <div class="selected-line">09:00 <span class="line-intime"></span></div>
                <div>10:00</div>
                <div>11:00</div>
                <div>12:00</div>
                <div>13:00</div>
                <div>14:00</div>
                <div>15:00</div>
                <div>16:00</div>
                <div>18:00</div>
            </div>
            <div class="fade-l"></div>
            <div class="fade-r"></div>
        </div>

    </div>
</section>

<!-- Doctor Appointment end -->