@model GalleryEditVM

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit image</h4>

                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Id" />

                        <div class="form-group">
                            <label asp-for="ImagePath">Photo</label>
                            @if (!string.IsNullOrEmpty(Model.ImagePath))
                            {
                                <img src="~/assets/images/gallery/@Model.ImagePath" alt="Image" class="img-thumbnail" style="max-width: 300px; max-height: 300px;" />
                            }
                            <input asp-for="Photo" type="file" class="form-control" />
                            <span class="text-danger" asp-validation-for="Photo"></span>
                        </div>

                        <button type="submit" class="btn btn-primary mr-2">Save</button>
                        <a class="btn btn-light" asp-action="Index">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationPartial"></partial>
}

